<#
// this file is used by .tt generator
// it generates two files:
// 1. The ProductInfo.cs used by all assemblies
// 2. The ProductionVersion.bat used by AppVeyor build

var Version = "0.9";

var Title = "BestTest";
var Company = "Arx One";
var LicenseUrl = "MIT (https://github.com/ArxOne/BestTest/blob/master/LICENSE)";
var Description = "Run unit tests (MSTests format)";

#>