<#@ template debug="false" hostspecific="false" #>
<#@ output extension=".bat" #>
<#@ include file="..\..\ProductInfo.tt" #>
set ProductName=<#=Title#>
set ProductVersion=<#=Version#>
set ProductDescription=<#=Description#>
